logging:
    version: 1
    disable_existing_loggers: true
    root:
        level: NOTSET
        handlers: [console]
    loggers:
        api:
            level: WARNING
            handlers: [console, logfile]
            propagate: false
    handlers:
        console:
            class: logging.StreamHandler
            stream: ext://sys.stdout
            formatter: simple
            level: WARNING
        logfile:
            class: logging.FileHandler
            filename: /var/tmp/auto-cert/api.log
            formatter: detail
            level: WARNING
    formatters:
        simple:
            format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
        detail:
            format: '%(asctime)s - %(levelname)s - File: %(filename)s - %(funcName)s() - Line: %(lineno)d -  %(message)s'
providers:
    digicert:
        host: digicert.com
        port: 443
        base: services
        version: v2
        apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789...82chars
destinations:
    zeus:
        host: 10.248.29.12
        port: 9070
        base: api/tm
        version: 3.9
        apikey: abcdefghijklmnopqrstuvwxyz0123456789...82chars
