csr:
    # location where .key files are stored
    dirpath: /data/autocert
    validity: 1
    server_type: 2
    encoding: PEM
    oids:
        org_name: Mozilla
        org_addr1: 331 E Evelyn Ave
        org_city: Mountain View
        org_state: CA
        org_zip: 94041
        org_country: US
        org_contact_firstname: Scott
        org_contact_lastname: Idler
        org_contact_email: sidler@mozilla.com
        org_contact_telephone: 503.862.3533

key:
    # location where .key files are stored
    dirpath: /data/autocert
    key_size: 2048
    public_exponent: 65537
    encoding: PEM

tar:
    # location where the <cert_name>.tar.gz files are stored on the api server
    dirpath: /data/autocert

# list of available authorities from which we get our .crt files
authorities:
    digicert:
        # this url will have the REST api endpoint appended to it
        baseurl: https://www.digicert.com:443/services/v2
        # default headers used on digicert calls
        headers:
            Content-Type: application/json
            User-Agent: autocert
        auth:
          - apikey
          - APIKEY
        # this is some default values, used when requesting a cert from digicert
        template:
            certificate:
                organization_units: [WebOps]
                server_platform:
                    id: 2 #Apache
                signature_hash: sha256
            organization:
                id: 147486
            payment_method: balance
            validity_years: 1

# list of available destinations where the .key, .csr and .crt can be installed
destinations:
    zeus:
        test1:
            baseurl: https://10.248.28.246:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert
        test2:
            baseurl: https://10.0.0.90:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert
        scl3-ext:
            baseurl: https://external.zlb.ops.scl3.mozilla.com:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert
        scl3-int:
            baseurl: https://internal.zlb.ops.scl3.mozilla.com:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert
        phx1-ext:
            baseurl: https://external.zlb.ops.phx1.mozilla.com:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert
        phx1-int:
            baseurl: https://internal.zlb.ops.phx1.mozilla.com:9070/api/tm/3.9/config/active
            auth:
              - apikey
              - APIKEY
            headers:
                Content-Type: application/json
                User-Agent: autocert

# this section becomes a nested dict that is then used in logging.config.dictConfig
# https://docs.python.org/3/library/logging.config.html
logging:
    version: 1
    disable_existing_loggers: true
    root:
        level: NOTSET
        handlers: [console]
    loggers:
        api:
            level: WARNING
            handlers: [console]
            propagate: false
    handlers:
        console:
            class: logging.StreamHandler
            stream: ext://sys.stdout
            formatter: simple
            level: WARNING
    formatters:
        simple:
            format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
        detail:
            format: '%(asctime)s - %(levelname)s - File: %(filename)s - %(funcName)s()
                - Line: %(lineno)d - %(message)s'
